
body{
  scrollbar-width: '0';
}
.logo-box{
  width:150px;
  height:150px;
  overflow:hidden;
}
.cursor-pointer{
  cursor: pointer;
}
.galery-box .img{
  height:230px;
  width: 230px;

  overflow:hidden;
}
@media only screen and (max-width: 600px) {
    
  .galery-box .img{
    height:120px;
    width: 120px;

    overflow:hidden;
  }
}
a {
  cursor: pointer;
}
